#from_container {
  width: 100%;
  position: relative;
}

.icones_container {
  position: absolute;
  right: 10px;
  top: -50px;
  font-size: 24px;
}

.icone {
  border-radius: 5px;
  margin-right: 2px;
  display: inline;
  padding: 2px 7px;
  color: white;
  background-color: #5eb5e0;
}

.icone:hover {
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
  color: black;
}

#add_video_modal {
  .box {
    text-align: right;

    #add_video {
      width: 80%;
    }
  }
}

#main_image_container {
  margin-top: 100px;
  width: 100%;
  position: relative;
  margin-bottom: 50px;

  img {
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
    text-align: center;

    h1 {
      font-size: 35px;
      font-weight: bold;
      padding-top: 15%;
      color: white;
    }
  }
}

#illustration_container {
  width: 100%;
  margin-top: 10px;
  margin-left: 0;
  flex-wrap: wrap;

  .img_container {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.editable {
  position: relative;

  .icone {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 16px;
  }

}

.trash {
  background-color: firebrick;
}

.trick_illustration_container {
  height: 200px;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#video_container {
  flex-wrap: wrap;
  margin-left: 0;
}

.text-center {
  text-align: center;
}

#main_infos_container {
  button {
    margin-top: 20px;
  }
}

#infos_container {
  margin-top: 10px;
  padding-left: 10px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

hr {
  background-color: #5eb5e0 !important;
}

#comments {
  .card {
    margin-bottom: 15px;

    .card-footer {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
    }
  }
}

#info-form-container {
  margin-top: 100px;

  .col {
    margin-top: 10px;
  }

  label {
    font-weight: bold;
    font-size: 18px;
    color: #424242;
  }

  #trick_save {
    margin: 10px auto;
    width: 200px;
    display: block;

  }

  #trick_description {
    min-height: 300px;
  }
}


#add_comment_container {
  form {
    textarea {
      min-height: 150px;
    }
  }
}

.comment_content {
  padding-right: 100px;
  position: relative;
  .icones_container {
    top: 0;
    .icone {
      font-size: 16px;
    }
  }
}

.comment_footer {
  img {
    vertical-align: middle;
    margin-right: 10px;
  }

  span {
    vertical-align: middle;
  }

  strong {
    vertical-align: sub;
  }
}

.pagination{
  span{
    color: white;
  }
  a:hover{
    color: white;
  }
  a.active{
    color: white;
  }
}