body {
  background-color: #37474f;
}

#navbar {
  background-color: white;
}

#main_container {
  position
  : relative;
}

.notification {
  margin-bottom: 0;
}

.trash_btn {
  font-weight: bold;
  text-align: right;
}

.trash_container {
  text-align: right;
  margin-top: 10px;
}

.file_input {
  position: absolute;
  top: -1000px;
}

.box {
  margin-bottom: 50px !important;
  background-color: #eceff1 !important;

  h2 {
    font-size: 26px;
    font-weight: bold;
    color: #424242;
    width: 100%;
    border-bottom: 3px solid #424242;
    margin-top: 5px;
    margin-bottom: 25px;
  }
}

.label_container {
  width: 80%;
  height: 80%;
  background-color: $blue;
  color: white;
  border: none;
  font-size: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.label_container:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}

#footer {
  padding: 30px;
  color: $blue;
  background-color: white;
  font-weight: bold;
  margin-top: 50px;
}

.btn {
  background-color: $blue !important;
  color: white !important;
  font-weight: bold !important;
  border: none !important;
  padding: 10px 40px !important;
  font-size: 18px !important;
}

.btn:hover {
  background-color: lighten($blue, 10) !important;
}

#logo {
  width: 280px;
}