{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block body %}
<div class="auth_container" id="forgot_password_body">
    <h1> Forgot password </h1>
    <div class="auth_form_container">
        <div class="auth_card card">
            <div id="sub_container">
                {{ form_start(form) }}
                <div class="mt-3">
                    {{ form_label(form.password,'') }}
                    {{ form_widget(form.password) }}
                </div>
                <div class="mt-3">
                    {{ form_widget(form.save, { 'label': 'Submit me'}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
